mixin footer(data)
	+b.FOOTER.footer#footer
		+e.container.container
			//- +img('img/fire-solid.png').fire
			+img('img/header-img-2.png').magican-1
			+img('img/header-img-3.png').magican-2
			+img('img/threeBats.png').bats-right
			+img('img/threeBats.png').bats-left
			.row
				.col-12
					+b.section-title.text-center
						h2!= data.title
						h5!= data.subtitle
					+e.row-link.row.text-center
						.col-auto
							+e.link(href="https://t.me/metahunterston", target="_blank")
								+polygon()
								+icon('telegram')
						.col-auto
							+e.link(href="https://twitter.com/metahunterston", target="_blank")
								+polygon()
								+icon('twitter')
		+e.row-wrap
			+e.row-info.row
				+e.col-text.col.order-2.order-lg-1
					p Meta Hunters © 
						span 
				.col-auto.order-1.order-lg-2
					a(href="")
						+img('img/logo.png')
				+e.col-prod.col.order-3.order-lg-3
					//- p!= data.devops
					+e.row-soc.row
						+e.col-cangeLang.col-auto
							+changeLang(data.lang)
						+e.col-soc.col-auto
							+soc()
								+item-sos('twitter', 'https://twitter.com/metahunterston')
								+item-sos('telegram', 'https://t.me/metahunterston')