// start .sRoadMap
.sRoadMap {
	--sPT: #{rem(60)};
	--sPB: #{rem(70)};
	// --sTPB: #{rem()};
	position: relative;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(160)};
	}
	&__container {
		position: relative;
	}
	.left {
		position: absolute;
		top: -40px;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		max-width: rem(250);
		@include media-breakpoint-up(md) {
			right: calc(100% + 1px);
			left: unset;
			transform: none;
			top: 0;
			max-width: none;
		}
	}
	.right {
		position: absolute;
		bottom: -90px;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		max-width: rem(250);
		@include media-breakpoint-up(md) {
			left: calc(100% + 1px);
			transform: none;
			bottom: 0;
			max-width: none;
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		margin-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
		h2 {
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(30);
			}
		}
		h5 {
			margin-bottom: 0;
		}
	}
	&__col{

	}
	&__swiper-angle {
		position: absolute;
		bottom: 0;
		// top: 50%;
		transform: rotate(-5deg) ;
		img {
			background-color: #232325;
		}
		&--2 {
			transform: rotate(5deg);
			img {
				background-color: $primary;
			}
		}
	}
	&__ribbon {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) rotate(-5deg);
		// img {
		// 	max-width: rem(840);
		// 	@include media-breakpoint-up(lg) {
		// 		max-width: none;
		// 	}
		// }
		background-image: url('../img/@2x/sRoadMap-img-2.png');
		background-repeat: repeat-x;
		background-position: bottom;
		background-size: cover;
		width: calc(100% + 35px);
		height: 43px;
		@include media-breakpoint-up(lg) {
			height: 100px;
		}
		&--2 {
			background-image: url('../img/@2x/sRoadMap-img-1.png');
			transform: translateX(-50%) rotate(5deg);
		}
	}
	&__slider {
		overflow: visible;
		top: 50%;
		transform: translateY(-50%);
		.swiper-wrapper {
			-webkit-transition-timing-function: linear !important;
							transition-timing-function: linear !important;
		}
	}
	&__slide{
		img {
			width: 100%;
		}
	}
	&__card-slider {
		padding-bottom: rem(30);
		margin-bottom: rem(20);
		position: relative;
		@include media-breakpoint-up(lg) {
			padding-top: rem(80);
			padding-bottom: 0;
			margin-bottom: rem(60);
		}
	}
	.swiper-pagination {
		bottom: 0;
		@include media-breakpoint-up(lg) {
			bottom: unset;
			top: 0;
			display: flex;
    	justify-content: space-between;
			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 98%;
				height: 2px;
				border-top: 2px dashed rgba($color: #fff, $alpha: .2);
				left: 6px;
				top: 9px;
				z-index: -1;
			}
		}
		.swiper-pagination-bullet {
			background-color: $gray-900;
			border: 1px solid #FFFFFF;
			width: 10px;
			height: 10px;
			@include media-breakpoint-up(lg) {
				width: 20px;
				height: 20px;
				border-width: 2px;
				&:before {
					@include mt;
					content: '';
					position: absolute;
					display: block;
					width: calc(100% / 3);
					height: 2px;
					background-color: transparent;
					top: 9px;
					z-index: -1;
				}
			}
			&-active {
				background-color: $primary;
				border-color: $primary;
				@include media-breakpoint-up(lg) {
				}
				&:before {
					@include media-breakpoint-up(lg) {
						background-color: $primary;
					}
					// left: 5px;
				}
				& + .swiper-pagination-bullet {
					@include media-breakpoint-up(lg) {
						border-color: $primary;
					}
				}
			}
			&:last-child {
				&.swiper-pagination-bullet-active {
					&:before {
						@include media-breakpoint-up(lg) {
							background-color: transparent;
						}
					}
				}
			}
		}
	}
	&__month {
		opacity: 0.5;
		font-size: rem(16);
		margin-bottom: rem(7);
	}
	&__card-slide {
		background-color: $gray-800;
		border-radius: 15px;
		padding: rem(30);
		height: auto;
		max-width: rem(280);
		@include media-breakpoint-up(lg) {
			padding: rem(40);
		}
		@include media-breakpoint-up(md) {
			max-width: rem(380);
		}
		.h3 {
			margin-bottom: rem(17);
		}
		ul {
			list-style-type: none;
			margin-bottom: 0;
			li {
				padding-left: rem(30);
				position: relative;
				font-family: 'Circe';
				font-size: rem(16);
				text-transform: initial;
				@include media-breakpoint-up(lg) {
					font-size: rem(18);
				}
				&:before {
					content: '';
					position: absolute;
					top: 4px;
					left: 0;
					background-image: url('../img/svg/list-mark.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					width: 20px;
					height: 20px;
				}
				&:not(:last-child) {
					margin-bottom: rem(14);
				}
			}
		}
	}
	.btn-base {
		margin-bottom: rem(65);
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRoadMap