mixin sRoadMap(data)
	// start sRoadMap
	+b.SECTION.sRoadMap.section#sRoadMap&attributes(attributes)
		+e.container.container
			+img('img/threeBats.png').left
			+img('img/threeBats.png').right
			+b.section-title.text-center
				h2!= data.title
				h5!= data.subtitle
			+e.card-slider--js
				.swiper-wrapper
					each slide in data.slider
						+e.card-slide.swiper-slide
							+e.month!= slide.month
							.h3!= slide.title
							ul
								each item in slide.list
									li!= item
					+e.card-slide.swiper-slide
					+e.card-slide.swiper-slide
				.swiper-pagination
			+btnBase
		+e.ribbon
			//- +pic(`sRoadMap-img-2.png`)
		+e.ribbon--2
			//- +pic(`sRoadMap-img-1.png`)
		//- 	+e.slider--js.swiper
		//- 		.swiper-wrapper
		//- 			+e.slide.swiper-slide
		//- 	+e.slider--js.swiper
		//- 		.swiper-wrapper
		//- 			+e.slide.swiper-slide
	// end sRoadMap