.top-nav {
	position: relative;
	z-index: 1010;
	.top-nav__row {
		padding: rem(15) rem(10);
		position: relative;
		z-index: 3;
	}
	@include mt;
	@include media-breakpoint-up(sm) {
		.top-nav__row {
			padding: rem(15) rem(25);
		}
	}
	@include media-breakpoint-up(md) {
		.top-nav__row {
			padding: rem(40);
		}
	}
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	&.fixed {
		.top-nav__row {
			padding: rem(15) rem(25);
			background-color: $gray-900;
		}
	}
	&__row {
		align-items: center;
	}
	&__col-logo {
		@include media-breakpoint-up(xxl) {
			width: rem(175);
		}
		img {
			@include media-breakpoint-down(md) {
				width: rem(76);
			}
		}
	}
	&__col-soc {
		margin-left: auto;
		@include media-breakpoint-up(lg) {
			margin-left: unset;
		}
	}
	// &__link-wrap {
	// 	a {
	// 		color: rgba($color: #fff, $alpha: .5);
	// 		text-decoration: none;
	// 		font-size: rem(14);
	// 		&:not(:last-child) {
	// 			margin-right: rem(10);
	// 		}
	// 		&.active, &:hover {
	// 			color: #fff;
	// 		}
	// 		@include media-breakpoint-up(sm) {
	// 			font-size: rem(16);
	// 		}
	// 	}
	// }
	.soc {
		--bs-gutter-x: 10px;
		&__item {
			color: #fff;
			.icon {
				font-size: rem(22);
				@include media-breakpoint-up(sm) {
					font-size: rem(24);
				}
			}
			&:hover {
				color: $primary;
			}
		}
	}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


