 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}

.btn-base {
	display: block;
	padding: rem(17) rem(33);
	position: relative;
	// z-index: 2;
	text-decoration: none;
	width: 100%;
	max-width: rem(240);
	margin-left: auto;
	margin-right: auto;
	&__bg {
		@include mt;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: #36FF51;
		box-shadow: 0px 0px 50px rgba(54, 255, 81, 0.5);
		border-radius: 10px;
		transform: perspective(280px) rotateX(206deg);
		// z-index: -1;
		&:before {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			left: 3px;
			bottom: 6px;
			width: calc(100% - 5px);
			height: 100%;
			// transform: perspective(360px) rotateX(186deg);
			background-color: rgba($color: $primary, $alpha: .5);
			border-radius: 10px;
		}
	}
	&:hover {
		transform: translateY(3px);
		.btn-base__bg {
			box-shadow: none;
			&:before {
				opacity: 0;
			}
		}
	}
	&__text {
		color: $gray-900;
		text-decoration: none;
		font-size: rem(18);
		position: relative;
    // z-index: 10;
		@include media-breakpoint-up(md) {
			font-size: rem(20);
		}
	}
}

.changeLang {
	a {
		color: rgba($color: #fff, $alpha: .5);
		text-decoration: none;
		font-size: rem(14);
		&:not(:last-child) {
			margin-right: rem(10);
		}
		&.active, &:hover {
			color: #fff;
		}
		@include media-breakpoint-up(sm) {
			font-size: rem(16);
		}
	}
}