include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin btnBase()
	+b.btn-base(href="#").text-center
		+e.bg
		//- +e.text!= lan.btn
		if lan == ru
			+e.text присоединиться
		else
			+e.text join

mixin changeLang(active)
	+b.changeLang
		+e.link(href="index.html" class= (active == "ru" ? "active" : " ")) Рус
		+e.link(href="index-eng.html"  class=( active != "ru"  ? "active" : "")) Eng

mixin polygon()
	+b.polygon
		<svg viewBox="0 0 156 156" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M66.9022 3.67926C74.008 0.735933 81.992 0.735935 89.0978 3.67926L122.705 17.6C129.811 20.5433 135.457 26.1888 138.4 33.2946L152.321 66.9022C155.264 74.008 155.264 81.992 152.321 89.0978L138.4 122.705C135.457 129.811 129.811 135.457 122.705 138.4L89.0978 152.321C81.992 155.264 74.008 155.264 66.9022 152.321L33.2946 138.4C26.1888 135.457 20.5433 129.811 17.6 122.705L3.67926 89.0978C0.735933 81.992 0.735935 74.008 3.67926 66.9022L17.6 33.2946C20.5433 26.1888 26.1888 20.5433 33.2946 17.6L66.9022 3.67926Z" stroke="white" stroke-width="2"/>
		</svg>
